# .coveragerc

[run]
source = .
omit =
    tests/*
    app/*
    client_runner_script.py
    schemas.py
    models.py
    database.py
    crud.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
